<h1>All Posts</h1>
<hr />

<!-- Loop all of the posts and output some info about them -->
<ul>
  <% @posts.each do |post| %>
    <li> <%= post.title %> -
    <%= link_to 'Show', post_path(post) %> -
    <%= link_to 'Edit', edit_post_path(post) %> -
    <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure you want to delete this post? It will be gone forever!'} %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Post', new_post_path %>
<!-- <a href='/posts/new'>New Post</a> -->
